<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
<link rel="stylesheet" href="/styles.css" />
    <title>Upload File</title>

</head>


<body>
<div class="container">
  <div class="card">

<h1>Upload File</h1>



<form action="/upload" method="POST" enctype="multipart/form-data">


    <label>Select Folder:</label>


    <select name="folderId">


        <% folders.forEach(folder => { %>


            <option value="<%= folder.id %>">

                <%= folder.name %>

            </option>


        <% }) %>


    </select>



    <br><br>



    <input

        type="file"

        name="file"

        required

    >



    <br><br>



    <button type="submit">

        Upload

    </button>



</form>


<a href="/folders">

    Back to folders

</a>

</div>
</div>
</body>

</html>